/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/AdapterArray$JoltRecord.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/AdapterArray.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/AdapterArrayTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/AllergenAssessment.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/AllergenAssessmentTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/BinaryBoarding$Boarding.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/BinaryBoarding.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/BinaryBoardingTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/ComboBreaker.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/ComboBreakerTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/ConwayCubes.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/ConwayCubesTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/CrabCombat.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/CrabCombatTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/CrabCups$Cup.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/CrabCups.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/CrabCupsTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/CustomCustoms$AnswerStrategy.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/CustomCustoms.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/CustomCustomsTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/DockingData.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/DockingDataTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/EncodingError.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/EncodingErrorTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Food.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/HandheldHalting$Instruction.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/HandheldHalting$Type.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/HandheldHalting.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/HandheldHaltingTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/HandyHaversacks$Bag.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/HandyHaversacks$BagGraph.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/HandyHaversacks.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/HandyHaversacksTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Instruction.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Jigsaw.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/JurassicJigsaw.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/JurassicJigsawTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout$1.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout$Color.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout$Direction.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout$Floor.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout$Point.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout$Tile.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/LobbyLayout.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/LobbyLayoutTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/MonsterMessages.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/MonsterMessagesTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/OperationOrder.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/OperationOrderTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/PassportProcessing.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/PassportProcessingTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/PasswordPhilosophy$TestData.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/PasswordPhilosophy.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/PasswordPhilosophyTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Player.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/PuzzleBoard.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/RainRisk.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/RainRiskTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/RambunctiousRecitation.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/RambunctiousRecitationTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/ReportRepair$IntPair.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/ReportRepair$IntTrio.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/ReportRepair.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/ReportRepairTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/SeatingSystem.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/SeatingSystemTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Ship$WayPoint.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Ship.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/ShuttleSearch.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/ShuttleSearchTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/Test.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/TicketTranslation.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/TicketTranslationTest.class
/2020/adventOfCode/target/classes/pl/lsobotka/adventofcode/TobogganTrajectory.class
/2020/adventOfCode/target/test-classes/pl/lsobotka/adventofcode/TobogganTrajectoryTest.class
